/* ===========  styles root =========== */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #008fb3;
    --Third-color: #00a3cc;
    --Fourth-color: orange;
    --Fifth-color: #707070;
    --Sixth-color: #1d1d1b;

    /*========== Font ==========*/
    --heading-font: "Trocchi", serif;
    --paragraph-font: "Merriweather", serif;
    --h1-font-size: 2rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1rem;

    --nav-link-color: #fff;
    --nav-hover-link-color: #6d9773;

    --font-size: 1.10rem;
    --footer-font-size: 1.4rem;
}

/* Default Styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f0;
}

h1, 
h2, 
h3,
h4,
h5 {
    font-family: var(--paragraph-font);
}

/* Navigation */
.site-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    z-index: 999;
}

a {
    text-decoration: none;
    margin-left: 20px;
    color: var(--nav-link-color);
    font-family: var(--heading-font);
}

a:hover {
    color: var(--nav-hover-link-color);
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    margin-right: 20px;
    font-size: var(--font-size);
}

.author-link {
    margin-right: 20px;
    font-size: var(--font-size);
}

/* Firts Section */
.main__profile {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.img__main {
    width: 100%;
    height: 660px;
}

/* Div Text  */
.div-text {
    height: 450px;
    padding: 20px;
    font-family: var(--paragraph-font);
    margin-top: 50px;
}

.text1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: var(--Sixth-color);
}

.text2 {
    font-size: var(--h2-font-size);
    color: var(--secondary-color);
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.text3 {
    font-size: var(--h3-font-size);
    color: #333;
    text-align: center;
}

/*Div img*/
.image-container {
    display: flex;
    margin-top: -70px;
}

.relaxation, .nature, .sunsets, .comfort {
    width: 25%;
}

/*.spring-flower-image {
    object-fit: cover;
}*/

/* Call to action  */
.call__action {
    text-align: center;
    margin-top: 40px;
}

.call__action a {
    font-size: var(--h2-font-size);
    font-family: var(--paragraph-font);
    color: var(--Sixth-color);
}

.call__action a:hover {
    color: var(--Fourth-color);
}

/* Offers with images and content */
.section__description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 50px;
}

.trip-description, 
.trip-description1,
.trip-description2 {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.trip-description img,
.trip-description1 img,
.trip-description2 img {
    width: 100%;
    border-radius: 5px;
}

.trip-description h2,
.trip-description1 h2,
.trip-description2 h2 {
    margin-top: 10px;
    font-size: 24px;
}

.trip-description p,
.trip-description1 p,
.trip-description2 p {
    margin-top: 10px;
    font-size: 16px;
}

/* Newsletter Subscription Form */
.newsletter {
    background-color: var(--Fifth-color);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.newsletter p {
    margin: 0;
    font-size: var(--h2-font-size);
}

.newsletter h2 {
    margin: 10px 0;
    font-size: var(--h1-font-size);
}

.subscribe-box {
    display: inline-flex;
    margin-top: 10px;
}

.subscribe-box input[type=email] {
    padding: 10px;
    font-size: 16px;
}

.subscribe-box button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
}

/* Footer with wireframe image */
footer {
    text-align: center;
    margin: 40px;
    font-size: var(--footer-font-size);
    margin-bottom: 10px;
}

footer a {
    color: var(--Fifth-color);
}

footer a:hover {
    color: var(--secondary-color);
}